*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    display: flex;
    background-color: #b1c1c0;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
#heading{
    font-family: 'Times New Roman', Times, serif;
    font-family: Arial, Helvetica, sans-serif;
}
.icon-container{
    padding-top: 4vh;
    display: flex;
    height: 20vh;
    /* border: black solid; */
    justify-content: center;
    align-items: center;
    /* width: 110px; */
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    /* border: solid black; */
    padding: 45px;
    border-radius: 50%;
}
img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
.score-container{
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
    /* border: solid black; */
    font-size: large;
}
#p_score{
    height: 20vh;
    width: 10vh;
    display: flex;
    flex-direction: column;
    /* border: solid black; */
    padding-right: 25px;
    justify-content: center;
    text-align: center;
}
#c_score{
    height: 20vh;
    width: 10vh;
    display: flex;
    flex-direction: column;
    /* border: solid black; */
    justify-content: center;
    text-align: center; 
    padding-left: 25px;  
}
.score{
    font-size: 70px;
}
.user{
    font-size: 30px;
}
.message-container{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 13vh;
    /* border: solid black; */
    font-size: 25px;
}
.message{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: hidden;
    border-radius: 8px;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 5vh;
    background-color: #cbd081;
    color: black;
    font-weight: bold;
}
.reset{
    /* border: black solid; */
    display: flex;
    justify-content: center;
}
#rst{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height:5vh;
    width: 16vh;
    padding: 10px;
    border: hidden;
    border-radius: 8px;
    background-color: #D2E59E;
    font-size: 15px;
    font-weight: bold;
}
/* get rid of the arrow from the input box */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.round-container{
    /* border: black solid; */
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#rounds{
    background-color: #D2E59E;
    height: 3vh;
    border-radius: 8px;
    border: hidden;
    width: 20vh;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}
#strt{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height:3vh;
    width: 15vh;
    border: hidden;
    border-radius: 8px;
    background-color: #D2E59E;
    font-size: 15px;
    font-weight: bold;
}
#input{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 23px;
}
.icon-button{
    border: hidden;
    border-radius: 50%;
}